*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #F2F2F2;
}
.container{
   display: inline;
}
.text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;


color: #FF9900;
}
.container__navigation{
display: inline;
}
.container__navigation-menu{
    display: flex;
    padding: 10px 10px;
}