* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{transition: all .1s ease-in;}

a{
    text-emphasis: none;
    text-decoration: none;
    color: #2F281E;
}

img {
    width: 100%;
    display: block;
}

button {
    border: transparent;
    border-radius: 5px;
    background: #FF9900;
    color: white;
}
body{
    background: #FFFFFF
}

.menu-buttons {
    width: 110px;
    height: 46px;
    margin-left: 10px;
}

.page-wrapper{
    padding: 10px 10px;
}

.menu-buttons:nth-child(1) {
    background: #FFFFFF;
    border: transparent;
    border: grey 1px solid;
    color: black;
}


.container {
    display: flex;
}

.container__logo {
    width: 200px;
    padding: 26px 0px 0px;
    margin-left: 60px;
}

ul {
    list-style-type: none;
    margin: 10px 10px;
}

.container__menu {
    display: flex;
    margin-left: 130px;
    margin-top: 26px;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    color: #2F281E;

}

.container__menu-item {
    margin-left: 20px;
    font-size: 16px;
    line-height: 28px;
    color: #2F281E;
}

.container__section{
    width: 1250px;
}
.container__menu-buttons {
    margin-top: 16px;
    display: flex;
    margin-left: 90px;
    margin-right: -106px;
}

.container__section-first {
    width: 500px;
    margin-top: 100px;
    margin-left: 50px;
}

.title {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}
.title__img{
    margin: -330px 120px 75px 575px;
}

.title__bottom{
    margin-top: 20px;
    line-height: 28px;
    text-decoration-color: #544837;
}

.button-started{
    margin-top: 30px;
    width: 180px;
height: 50px;
}

.title__second{
    display: flex;
    width: 439px;
    margin-left: 440px;

}
.title__h2{
    font-weight: 700;
font-size: 36px;
text-align: center;
line-height: 44px;
}

.container__list{
    margin-left: 20px;
    margin-top: 50px;
    width: 300px;
}

.small-image{
    width: 50px;
    height: 50px;
}

.text__listed{
    font-weight: 600;
font-size: 22px;
line-height: 27px;
margin-top: 30px;
margin-bottom: 16px;
}

.button__buttom{
    display: flex;
}

.button__last{
    margin-left: 570px;
    width: 180px;
    height: 50px;
    margin-top: 130px;
}

.menu-buttons:hover{
    box-shadow: 5px 5px 5px #2F281E;
}
.button-started:hover{
    box-shadow: 5px 5px 5px #2F281E;
}

.button__last:hover{
    box-shadow: 5px 5px 5px #2F281E;
}

.container__footer{
    display: flex;
}

.footer{
    display: flex;
    flex-direction: row;
}

.container__footer-img{
    width: 100%;
    width: 200px;
    height: 32px;
    display: flex;
    justify-content: flex-start;
}

.button__footer{
    width: 180px;
    height: 50px; 
}
.button__footer:hover{
    box-shadow: 5px 5px 5px #2F281E;
}

.lineH{
    line-height: 35px;
}

.input{
    padding: 10px 10px;
    width: 250px;
    padding: 5px;
}


