*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box{
    
    
    background: azure;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.box__item{
    background-color: aqua;
    width: 50px;
    padding: 50px;

}